body {
    margin: 0;
}

/* Header styling*/
header {
    height: 20em;
    background-image: url("../img/banner.png");
    background-position: left center; 
    border-bottom: 0.3em solid#581303;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h1 {
        font-family: 'Fjalla One', sans-serif;
        text-shadow: 0 0 0.8em #ffffff;
        padding: 0 1em 0 1em;
        color: black;
    }
}

/* Navbar styling*/
ul {
    display: flex;
    list-style-type: none;
    background-color: #CFA338;
    padding: 0.7em;
    font-family: 'Fjalla One', sans-serif;
    border-bottom: 0.2em solid #581303;

    li {

        a {
            text-decoration: none;
            color: black;

            &:hover {
                font-weight: bolder;
                color: #1a0804;
            }
        }  
    }
}

//adding horizontal space between cards
.card {
    min-height: 95%;

    // reserve article space for movie title and summary
    .card-title {
        min-height: 2.3em;
    }
    .card-text {
        min-height: 9em;
    }

}



// p and sorting button
.pandbtn {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    
    p {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em;
        border-bottom: 0.1em solid black;
    }
    .btnsort {
        padding: 1em;
    }
}

/* Header styling*/
footer {
    background-color: #CFA338;
    height: 5em;
    border-top: 0.2em solid #581303;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

    p {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.5em;
        text-shadow: 0 0 0.8em #ffffff;
        color: black;
    }
}

// hiding header text on tablets and smartphones
@media screen and (max-width: 992px){
    header {

        h1 {
            display: none;
        }
    }
    
}